@import '../../styles/utils/colors';
@import '../../styles/utils/breakpoints';

.submitButton{
  text-align: center;
  color: white;
  line-height: 50px;
  font-size: 20px;
  border-radius: 25px;
  font-weight: 600;
  background-color: $grass-blade;
  padding: 0 2em;
  cursor: pointer;
  @media only screen and (max-width: $mobile) {
    padding: 0;
    width: 100%;
  }
}