@import '../../styles/utils/colors';
@import '../../styles/utils/mixins';
@import '../../styles/utils/breakpoints';

.learningModule {
    &--header {
        text-align: center;

        @media only screen and (max-width: $mobile) {
            text-align: left;
        }
    }

    &--title {
        margin: 25px 10px;
        color: $morning-sky;
        font-weight: 600;
        font-size: 1.5em;

    }

    &--subHeader{
        @include subheader;
        min-height: 42px;
        @media only screen and (max-width: $mobile) {
            display: none;
        }
    }
  
    &--answerArea {
        background-color: white;
        box-shadow: 0px 0px 20px -15px;
        padding: 0px 0px 20px 0;
        border-radius: 10px;
        display: grid;
        justify-content: center;
        @media only screen and (max-width: $tablet) {
            border-radius: unset;
        }
        @media only screen and (max-width: $mobile) {
            background-color: transparent;
            box-shadow: none;
        }
    }

    &--selections{ 
        padding: 30px 0;
        display: grid;
        grid-auto-flow: column;
        grid-gap: 10px;
        @media only screen and (max-width: $tablet) {
            grid-auto-flow: row;
            grid-template-columns: 1fr 1fr;
            grid-row: 10px 10px;
            padding: 5px 10px 30px;
        }
    }

    &--submitButtonContainer {
        height: 50px;
        .submitButton {
            float: right;
        }

        @media only screen and (max-width: $mobile) {
            clear: left;
            padding: 0 10px;
        }
    }
}
